<form action="/company/add" method="post">
    <h1>name</h1>
    name: <input type="text" name="name" id="" required>
    <br><br>

    <h1>address</h1>
    address: <input type="text" name="address" id="" required>
    <br><br>

    <h1>image</h1>
    image: <input type="url" name="image" id="" required>
    <br><br>
    <input class="btn btn-danger" type="submit" value="Add">
</form>